<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>Welcome, <%= @user.name.capitalize %>! Let's start planting.</h1>
    <% if @user.plants.empty? %>
            <p><%= "There are no plants to display!" %></p>
    <% else %>
        <h2>Your Plants:</h2>
        <ul>
            <% @user.plants.each do |plant| %>
                <h3><%= plant.name.capitalize %></h3>
                <li>Description: <%= plant.description %></li>
                <li>Amount: <%= plant.how_many %></li>
                <li>Planting Schedule: <%= plant.planting_schedule %></li>
                <li>Harvest: <%= plant.harvest %></li>
                <li>Location: <%= plant.location %></li>
                <br><br>
            <% end %>
        </ul>

    <% end %>

    
</body>
</html>
