#need to add in a list of all plants with checkboxes.
#User can select a plant to edit.

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <h1>Edit a Plant</h1>
    
    <h2>Edits for <%= @user.name %>'s plants</h2>

    <form action='/plants/<%=@user.id%>' method='POST'>
        <input id='hidden' type='hidden' name='_method' value='patch'>
        
        <br>

        <label for='plant_name'>Plant Name: </label>
        <input type='checkbox' name='plant_name' id='plant_name' value='<%= @plant.name %>'>
        
        <br>
        <label for='plant_description'>Plant Description: </label>
        <input type='checkbox' name='plant_description' id='plant_description' value='<%= @plant.description %>'>
        
        <br>
        <label for='how_many'>How Many of Each Plant?: </label>
        <input type='checkbox' name='how_many' id='how_many' value='<%= @plant.how_many %>'>
        
        <br>
        <label for='planting_schedule'>Planting Schedule: </label>
        <input type='checkbox' name='planting_schedule' id='planting_schedule' value='<%= @plant.planting_schedule %>'>
        
        <br>
        <label for='harvest'>When does this plant need to be harvested?: </label>
        <input type='checkbox' name='harvest' id='harvest' value='<%= @plant.harvest %>'>
        
        <br>
        <label for='location'>Where is this plant located?: </label>
        <input type='checkbox' name='location' id='location' value='<%= @plant.location %>'>
        
        <br>
        <label for='how_many'>How Many of Each Plant?: </label>
        <input type='checkbox' name='how_many' id='how_many' value='<%= @plant.how_many %>'>
        
        <br>

        <input type='submit' id='submit' value='Submit'>
    </form>
</body>
</html>