<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Plants</title>
</head>
<body>
    <h1><%= @user.name.capitalize %>'s Plants</h1>
    
    <ul>
        <% @user.plants.each do |plant| %>
        <h3><%= plant.name.capitalize %></h3>
        <li>Description: <%= plant.description %></li>
        <li>Amount: <%= plant.how_many %></li>
        <li>Planting Schedule: <%= plant.planting_schedule %></li>
        <li>Harvest: <%= plant.harvest %></li>
        <li>Location: <%= plant.location %></li>
        <% end %>
    </ul>
    
    <a href="/dashboard">Back to Dashboard</a>


</body>
</html>